
html(lang="en")
 head
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 title Document
 link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
 link(rel='stylesheet', href='/css/style.css')


.container
    .card  
    
        .cardfront
            #question
                h3.question
            br
            #hintb
                h3.hint
            br 
            button#answerOnClick answer
            button#next  next
            button#hint  hint
        .cardback
            h3.answer 
            button#flipback back 
     
   



form(action='/cardquestions' method="POST")
 
    input(type="text" placeholder="question" name="question")
    input(type="text" placeholder="hint" name="hint")
    input(type="text" placeholder="answer" name="answer") 
    button(type="submit") add new card










script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='/scripts.js')